@use "bulma/sass" with (
  $primary: #EE5C13,
  $danger: #c1121f,
  $grey-lighter: #DFE2E7,
  $grey-darker: #303030,
  $black-bis: #181818,
  $black-ter: #212121,
);

// @import "fontawesome/scss/fontawesome.scss";
// @import "fontawesome/scss/brands.scss";
// @import "fontawesome/scss/solid.scss";
// @import "fontawesome/scss/regular.scss";

@import "./controls.scss";
@import "./line_counter.scss";
@import "./mobile.scss";
@import "./scrollbar.scss";
@import "./tooltip.scss";
@import "./theme.scss";

@import "./utility.scss";

.modal-card {
  width: 100% !important;
}

.modal-card-foot {
  display: block;
}

.with-cropped-images img {
    max-height: 30px; 
    width: auto;
    object-fit: contain; 
}

.is-full-size {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}