.toggle {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: var(--bulma-grey);
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

[data-theme="light"] .toggle {
  background: var(--bulma-grey-lighter);
}

[data-theme="dark"] .toggle {
  background: var(--bulma-grey-darker);
}

.toggle .bubble {
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; 
}

.toggle.active {
  background: var(--bulma-primary);
}

.toggle.active .bubble {
  left: 22px;
}

.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}