.is-transparent {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.full-height {
  min-height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto;
}

.page-height {
  height: 100dvh !important;
  overflow-y: hidden;
}
